<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>model</title>
    <style></style>
</head>
<body>
    <h1>cancer prediction</h1>
   
    <form action="{{ url_for('predict')}}" method="POST">
        <div class="col-sm-14">
            <div class="form-group  purple-border">
                 <label for ="radius_mean">radius_mean</label>
                 <textarea class="form-control" rows="2" id="query1" name="query1" rows="2" cols="14" autofocus>{{query1}}</textarea>
                </div>
                <div class="form-group  purple-border">
                    <label for ="texture_mean">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query2" name="query2" rows="2" cols="14" autofocus>{{query2}}</textarea>
                    </div>
                    <div class="form-group  purple-border">
                        <label for ="perimeter_mean">perimeter_mean</label>
                        <textarea class="form-control" rows="2" id="query3" name="query3" rows="2" cols="14" autofocus>{{query3}}</textarea>

                    </div>
                    <div class="form-group  purple-border">
                        <label for ="area_mean">area_mean</label>
                        <textarea class="form-control" rows="2" id="query4" name="query4" rows="2" cols="14" autofocus>{{query4}}</textarea>
                        </div>
                        <div class="form-group  purple-border">
                            <label for ="compactness_mean">compactness_mean</label>
                            <textarea class="form-control" rows="2" id="query5" name="query5" rows="2" cols="14" autofocus>{{query5}}</textarea>
                            </div>
                            <div class="form-group  purple-border">
                                <label for ="concavity_mean">concavity_mean</label>
                                <textarea class="form-control" rows="2" id="query6" name="query6" rows="2" cols="14" autofocus>{{query6}}</textarea>
                            </div>
                                <div class="form-group  purple-border">
                                    <label for ="perimeter_se">perimeter_se</label>
                                    <textarea class="form-control" rows="2" id="query7" name="query7" rows="2" cols="14" autofocus>{{query7}}</textarea>
                                </div>
                                    <div class="form-group  purple-border">
                                        <label for ="area_se">area_se</label>
                                        <textarea class="form-control" rows="2" id="query8" name="query8" rows="2" cols="14" autofocus>{{query8}}</textarea>
                                    </div>
                                        <div class="form-group  purple-border">
                                            <label for ="radius_worst">radius_worst</label>
                                            <textarea class="form-control" rows="2" id="query9" name="query9" rows="2" cols="14" autofocus>{{query9}}</textarea>
                                        </div>
                                            <div class="form-group  purple-border">
                                                <label for ="texture_worst">texture_worst</label>
                                                <textarea class="form-control" rows="2" id="query10" name="query10" rows="2" cols="14" autofocus>{{query10}}</textarea>
                                            </div>
                                                <div class="form-group  purple-border">
                                                    <label for ="perimeter_worst">perimeter_worst</label>
                                                    <textarea class="form-control" rows="2" id="query11" name="query11" rows="2" cols="14" autofocus>{{query11}}</textarea>
                                                </div>
                                                    <div class="form-group  purple-border">
                                                        <label for ="area_worst">area_worst</label>
                                                        <textarea class="form-control" rows="2" id="query12" name="query12" rows="2" cols="14" autofocus>{{query12}}</textarea>
                                                    </div>
                                                        <div class="form-group  purple-border">
                                                            <label for ="compactness_worst">compactness_worst</label>
                                                            <textarea class="form-control" rows="2" id="query13" name="query13" rows="2" cols="14" autofocus>{{query13}}</textarea>
                                                        </div>
                                                            <div class="form-group  purple-border">
                                                                <label for ="concavity_worst">concavity_worst</label>
                                                                <textarea class="form-control" rows="2" id="query14" name="query14" rows="2" cols="14" autofocus>{{query14}}</textarea>
                                                            </div>
                                                            
                                                            <div class="col-sm-3">
                                                                <button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
                                                                </div>
                                                        </form>
                                                        </div>

        <div class="row">
            <div class="col-sm-14">

            <textarea class="form-control" row="2" id="comment" name="query15" rows="2" cols="14" autofocus>{{output1}}</textarea>
                
                <textarea class="form-control" row="2" id="comment" name="query16" rows="2" cols="14" autofocus>{{output2}}</textarea>
         
        </div> 
        </div> 
    </div>                                             
         </body>                                               
      

       

            
        
      
    


   

   
          



    
</body>
</html>